from mixins import make_timeline
extends base.jade

block content
	.content
		.page-header: .box-blog-info
			a.avatar(href='/')
				img(src=site.site_avatar)
			.info
				h3.name= site.title
				.slogan= site.configs.sub_title
				
		//Totally				
		span= '%s篇文章，' %(d.get_data(types='post', return_count=true, with_page=false))
		//span= '%s，字' %site.text_words
		span= '{0:,}'.format(site.text_words) + '字'

		entries = d.get_data(type='post',limit=300, sort='desc').group('-date:year')
		+make_timeline(entries)

		+h.paginator()